
body{
    margin-top:50px;
    font-family: 'Caviar', sans-serif;
    color:#A65E35;
}
.titre{
    font-family: 'Hamurz', sans-serif;
    color:#CFEB00;
}
.navbar, .navbar a {
    font-family: 'Hamurz', sans-serif;
    color:#A65E35;
    background: #CFEB00;
}
footer a{
    color:#A65E35;
}

footer{
    background: #CFEB00;
}