
body{
    margin-top:100px;
    font-family: 'Caviar', sans-serif;
    font-size: 18px;
    color:#A65E35;
    
}
.titre{
    font-family: 'Hamurz', sans-serif;
    font-size: 50px;
    color:#CFEB00;
    text-shadow: 0px 0px 1px black;
}
.navbar, .navbar a {
    font-family: 'Hamurz', sans-serif;
    color:#A65E35;
    background: #CFEB00;
}
.Logo {
    width: 25px;
    height: 25px;
}

footer a{
    color:#A65E35;
}
footer{
    margin-top:50px;
    background: #CFEB00;
}

strong {
    font-size: 18px;
}
i {
    font-size: 18px;
}
.dropdown-menu {
	width: 100%;
	height: 50px;
}

.margeErreur {
    margin-top: 5px;
}
.margeSupp {
    margin-top: 60px;
}

.bord {
    border: 1px solid black;
}
.btn-danger:hover {
    box-shadow: 1px 3px 20px black;
}
.valider{
    background: #CFEB00;
    color:#A65E35;
}
.valider:focus, .valider:hover {
	background: #CFEB00;
	color: #A65E35; 
}
.lien{
    color: #A6602A;
}
.jumbotron{
    background: #CFEB00;
}
.jumbotron a{
    color:#A65E35;
}


.formulaireCo {
    margin-top: 2%;
    font-size: 12px;
}
.formulaireCo input {
    color: #A65E35;
}

.btn-success, .btn-success:focus  {
    background-color: #BEFF00;
    border: none;
    color: #A6602A;
} 
.btn-success:hover {
    background-color: #ADE602;
    border: none;
    color: #834A1E;
    box-shadow: 1px 3px 20px #000;
}

.float-label-control { position: relative; margin-bottom: 1.5em; }
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; }
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
.float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
.float-label-control input:focus,
.float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
.float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
.float-label-control input.empty + label,
.float-label-control textarea.empty + label { top: 0.1em; font-size: 1.5em; animation: none; -webkit-animation: none; }
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label { z-index: 1; }
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
.float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }


@keyframes float-labels {
0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
20% { font-size: 1.5em; opacity: 0; }
30% { top: 0.1em; }
50% { opacity: 0; font-size: 0.85em; }
100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels {
0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
20% { font-size: 1.5em; opacity: 0; }
30% { top: 0.1em; }
50% { opacity: 0; font-size: 0.85em; }
100% { top: -1em; opacity: 1; }
}

@keyframes float-labels-bottom {
0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
20% { font-size: 1.5em; opacity: 0; }
30% { top: 0.1em; }
50% { opacity: 0; font-size: 0.85em; }
100% { top: 3em; opacity: 1; }
}

@-webkit-keyframes float-labels-bottom {
0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
20% { font-size: 1.5em; opacity: 0; }
30% { top: 0.1em; }
50% { opacity: 0; font-size: 0.85em; }
100% { top: 3em; opacity: 1; }
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #A65E35; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

#loading{
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table > thead > tr > th {
    vertical-align: middle;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.activé a, .activé a:hover, .activé a:focus{
	line-height: 20px;
	padding: 10px;
	color: #B05D33;
	border-bottom: 1px solid #B05D33;
}
.dropdown-menu a:hover {
	border-bottom: 1px solid black;
}

.cont {
	line-height: 40px;
}
.cont a:hover {
	line-height: 20px;
	padding: 10px;
	border-bottom: 1px solid #B05D33;

}
.cont a {
	text-decoration: none;
}
.insta{
    height: 200px;

}
.instaA{
    overflow:hidden; 
    width:50%;
   
}
.cadre, .cadre:hover{
    border-radius: 15%;
}
.logoA{
    width:10%;

    margin-top: 60px;
    margin-bottom: 60px;
}
.link{
    color:inherit;
    text-decoration: none;

}